.comment-accordian{
    margin-top: 30px;
}

.comment-count, 
.like-count, 
.dislike-count{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}
.post-text-box{
    padding: 20px
}
.profile-pic{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 50%;

}
.post-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.on-blue-message{
    color: #212529;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    width: fit-content;
    padding: 10px;
    margin-top:20px;
    margin-bottom:20px;
    border-radius: 8px;
    margin-right: auto;
    margin-left: auto;
}

h1,
h2,
h3,
h4,
h5,
h6{
    text-align: center;
    margin-top:10px;
    margin-bottom:10px;
    color: #212529;
}
body{
    background-color: #0b66c2;
}
.forbidden,
.logged-out,
.sign-in,
.password-reset,
.password-change,
#update-container,
#delete-confirm{
    width: fit-content;
    border: solid black 1px;
    padding: 20px;
    text-align: center;
    margin:5% 20%;
    margin-bottom:10px;
    color: #212529;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 8px;
    background-color: white;
}
.sign-up{
    width: fit-content;
    border: solid black 1px;
    padding: 20px;
    margin:10% auto;
    margin-bottom:10px;
    color: #212529;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-color: white;
}

#daily{
    color: #2d8cff;
}
#logo-daily,
#question-delete,
.forbidden h1{
    color: #0b66c2;
}
#log-in-icon{
    margin-left: 10px;background-color: #212529;
}
.box{
    /* border: solid rgb(64, 58, 58) 1px; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-color: white;
}

#id_title,
#id_subtitle,
#id_author,
#id_body{
    padding: 5px;
    margin: 0px auto;
    width: 100%;
    border-radius: 8px;

}

.create-post {
    padding: 5px;
    margin: 0px auto;
    width: 100%;

}

#confirm-del{
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}
#confirm-del-btn {
    font-size: xx-large;
    padding: 5px;
    margin: 0px auto;
    border-radius: 8px;
    text-align: center;
    width: 250px;
}

#post-container{
    width: 50%;
    align-items: center;
    text-align: center;
}

#update-post-btn{
    width: 100%;

}

.author-options,
#post-more {
    text-align: right;
    margin: 10px 10px;

}
.post-detail{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    margin-top: 20px;
}

/* Used for titles of posts */
h5 {
    margin-bottom: 10px;
}

#issue-options{
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
}

#status{
    color: #212529;
    background-color: orange;
    text-align: center;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: xx-large;
}


